# Dependencies
node_modules/

# Build outputs
dist/
*.log

# Sensitive environment variables
.env
.env.local

# Database
prisma/*.db
prisma/*.db-journal
*.db
*.db-journal

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
